@using SeniorCapstoneProject.ViewModels

@model ClassListVM

<h3 class="headings welcome2">List of Students in @Model.Teacher.FirstName @Model.Teacher.LastName's Classroom</h3>

<table class="table table-sm">
    <thead>
        <tr>
            <th>
                Student Names:
            </th>
            <th>
                Current Level:
            </th>
            <th>
                View Report:
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Students) {
        <tr>
            <td>
               @item.FirstName @item.LastName
            </td>
            <td>
              @Model.Level.Id
            </td>
            <td>
               <a asp-controller="Student" asp-action="Details" asp-route-id="@item.Id">View Report</a> 
               <a asp-controller="Student" asp-action="Edit" asp-route-id="@item.Id">Edit Student Details</a>
            </td>

        </tr>
}
    </tbody>
</table>
<div class="headings"><a class="button-71" asp-action="Index">Back to Class Index</a> </div>
