@model IEnumerable<Student>

@{
    ViewData["Title"] = "Index";
}

<div class="welcome2 headings"><h1>Student Index</h1>

<p>
    <a button type="button" class="button-71 btn btn-outline-primary" asp-action="Create">Create New</a>
</p></div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>

             
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img class="schoolPhoto" src="/Images/@item.Photo" alt=""/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                
                <a asp-action="Details" asp-route-id="@item.Id">Student Report</a> |
                
            </td>
        </tr>
}
    </tbody>
</table>
